
<div id="content">
	<p id="notice">
	 <%= flash[:notice] %>
	</p>
	<h2>Admin Home Page</h2>
	<%= link_to "Manage Users", users_path %> <br/>
	<%= link_to "Mail Template", {:controller => 'text_message', :action => 'index'} %>
</div>