<div id="content">
	<p id="notice"><%= notice %></p>
  <h2> Welcome <%= session[:user].user_name %> </h2>
  <%= link_to 'Edit Profile', edit_user_path(@user) %><br/>
  <%= link_to 'Change Password', change_password_user_path(@user) %>
</div>
