<% content_for :extra_cssFile do %>
  <%= stylesheet_link_tag 'tinymce' %>
<% end %>

<div id="content">


	<div id = "template_partial">
		<%= render :partial => 'template' %>
	</div>


	<div id="status">
		<%= flash[:info] %>
	</div>


	<div id="userlist_partial" >

		<%= render :partial => 'sent' %>
	</div>
</div>
